<div class="container mt-5 pt-3 justify-content-center">
      <div class="row mt-5 justify-content-center">
        <div class="col-md-9 inline-block mt-5">
          <input type="text" placeholder="Search by recipe name..." class="form-control" [formControl]="search" (input)="onValueChange()">
          <div class="close-icon" *ngIf="search.value !== ''">
            <i class="fa fa-close" (click)="removeSearch()"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="searchClass" *ngIf="search.value !== '' && totalItems !== 0"> 
          <h3 >Search result for "{{ search.value }}"</h3>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let recipe of recipes; let i=index">
            <app-recipe-list-cell-component [recipe]="recipe"></app-recipe-list-cell-component>
          </div>
        </div>
      <div class="row" *ngIf="totalItems===0">
        <div class="alert text-center alert-info col-md-9" role="alert">
          No Recipe Found
        </div>
      </div>
  </div>